<div class="big-card_container">
    <div class="big-card_photo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" 
        alt="" 
        height="350px"
        width="350px"
        srcset="">
    </div>
        <div class="big-card_title">
        <h1><a href="">Disponibilizamos novo curso!</a></h1>
    </div>
    <div class="big-card_description">
        <p><a> Quiser que corra</a></p>
    </div>
</div>
