.menu-title_container{
    color: white;

}

.menu-title_container > h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI';
}

.menu-title_container > hr{
    margin-top: 20px;
    margin-bottom: 5px;
}